[user]
	name = {{ (bitwardenFields "item" "GitHub").name.value }}
	email = {{ (bitwardenFields "item" "GitHub").email.value }}
[core]
	editor = vi
	autocrlf = input
[color]
	ui = true
[url "https://{{ (bitwardenFields "item" "GitHub").username.value }}:{{ (bitwardenFields "item" "GitHub").token.value }}@github.com"]
	insteadOf = https://github.com
